body {
  margin: 0px;
  padding: 0px;
  background: #383838;
  font-family: "Baloo Paaji 2", cursive;
  font-size: 12pt;
  font-weight: 300;
  color: #6c6c6c;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #ffffff;
}

p,
ol,
ul {
  margin-top: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
}

.tm-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 400;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.tm-btn-white {
  background: #0d47a1;
}
.tm-btn-white-primary {
  color: #ffffff;
}

.tm-btn-white-primary:hover,
.tm-btn-white-primary:focus,
.tm-btn-white-primary:active {
  background: #6c6c6c;
  color: white;
}

/*********************************************************************************/
/* Navbar                                                                        */
/*********************************************************************************/

.title {
  margin-bottom: 3em;
}

.title h2 {
  font-weight: 400;
  font-size: 2.8em;
  color: #ffffff;
}

.title .byline {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1em;
  color: #ffffff;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
  padding: 2em 0em;
  background: #fff;
}

#navbar {
  position: relative;
  height: 100px;
}

.nav-container {
  margin: 0px auto;
  width: 1200px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 100%;
}

#logo h1 {
  display: inline-block;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #2c383b;
  padding-right: 0.5em;
}

#logo span {
  position: absolute;
  top: 1.4em;
  display: inline-block;
  padding-left: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.9em;
}

#logo a {
  text-decoration: none;
  color: #0d47a1;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
#menu {
  position: absolute;
  right: 0;
  top: 1em;
}

#menu ul {
  display: inline-block;
}

#menu li {
  display: block;
  float: left;
  text-align: center;
  line-height: 60px;
}

#menu li a,
#menu li span {
  display: inline-block;
  margin-left: 1px;
  padding: 0em 1.5em;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  outline: 0;
  color: #212121;
}

#menu li.current_page_item a {
  background: #0d47a1;
  color: #fff !important;
}

.tm-slideshow-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tm-slideshow-section-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.tm-slideshow {
  width: 50%;
}

.tm-slideshow-description {
  padding: 50px;
  color: white;
  width: 48%;
  z-index: 100;
  margin-left: -42px;
}

.tm-slideshow-description-left {
  margin-left: auto;
  margin-right: -42px;
}

.tm-position-relative {
  position: relative;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
  overflow: hidden;
  padding: 5em 0em;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

#footer p {
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.3);
}

#footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
